<ng-container *ngFor="let item of data; let index = index">
    <div class="list-item">
        <ng-container *ngIf="!item.isEditMode">
            <a [routerLink]="'/posts-list/' + item.id">{{item.title}}</a>
            <h4>{{item.body}}</h4>
            <button class="edit-btn" (click)="item.isEditMode = true">edit</button>
            <button class="delete-btn" (click)="deleteItem(index)">delete</button>
        </ng-container>
        <ng-container *ngIf="item.isEditMode">
            <input type="text" [(ngModel)]="item.title">
            <div>
                <textarea [(ngModel)]="item.body"></textarea>
            </div>

            <button (click)="editItem(item)">apply</button>
        </ng-container>
    </div>
</ng-container>